.wrapper {
	height: 96px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.04);
	background: #0b1d33;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 10px;
}

.key {
	color: #a4b4c3;
	text-align: center;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.68px;
}

.value {
	text-align: center;
	font-size: 38px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

@media (max-width: 1890px) {
	.wrapper {
		height: 125px;
	}
}

@media (max-width: 1400px) {
	.wrapper {
		height: 110px;
	}

	.key {
		font-size: 15px;
	}

	.value {
		font-size: 36px;
	}
}

@media (max-width: 700px) {
	.key {
		font-size: 17px;
	}

	.value {
		font-size: 38px;
	}
}
