.wrapper {
	position: absolute;
	width: 440px;
	height: 510px;
}

.textBlock {
	position: absolute;
	width: 320px;
	bottom: 0;
	right: 0;
}

.location {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}

.arrow {
	position: absolute;
	z-index: 5;
	left: 57px;
	top: 113px;
}
