.wrapper {
	cursor: pointer;
	text-decoration: none;
	position: relative;
}

.label {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.line {
	position: absolute;
	bottom: -66px;
	left: 0;
	width: 0;
	height: 3px;
	background: #5df5ff;
	transition: 0.3s all;
}

.wrapper:hover .line {
	width: 100%;
}

@media (max-width: 1300px) {
	.label {
		font-size: 13px;
	}

	.line {
		bottom: -67px;
	}
}

@media (max-width: 1120px) {
	.label {
		font-size: 10px;
	}

	.line {
		bottom: -70px;
	}
}

@media (max-width: 900px) {
	.label {
		font-size: 8px;
	}

	.line {
		bottom: -60px;
	}
}

@media (max-width: 768px) {
	.line {
		bottom: -50px;
	}
}
