.wrapper {
	cursor: pointer;
	text-decoration: none;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.label {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 3px;
	background: #5df5ff;
	transition: 0.3s all;
}

.wrapper:hover .line {
	width: 100%;
}

@media (max-width: 1300px) {
	.label {
		font-size: 13px;
	}
}

@media (max-width: 1120px) {
	.label {
		font-size: 10px;
	}
}

@media (max-width: 900px) {
	.label {
		font-size: 8px;
	}
}
