.wrapper {
	cursor: pointer;
	text-decoration: none;
	position: relative;
}

.label {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.line {
	position: absolute;
	bottom: -63px;
	left: 0;
	width: 0;
	height: 3px;
	background: #5df5ff;
	transition: 0.3s all;
}

.wrapper:hover .line {
	width: 100%;
}
