.link {
	text-decoration: none;
}

.button {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid #719ed6;
	background: #0b1d33;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.button:hover {
	border: none;
	background: linear-gradient(180deg, #5df5ff 0%, #1d74ff 100%);
}

.button:hover .icon path {
	fill: #0b1d33;
}
