.textarea {
	height: 200px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.07);
	background: rgba(3, 11, 21, 0.7);
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding: 20px;
	outline: none;
}

@media (max-width: 1100px) {
	.textarea {
		font-size: 13px;
		height: 120px;
	}
}
